@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.cursive {
    font-family: "Montserrat", cursive;
    font-weight: 700;
}

.porse img {
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.25em;
}

.home-name {
    font-size: 4em;
}